{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{% block title %}Social Network{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'network/css/normalize.css' %}" rel="stylesheet">
    <link href="{% sass_src 'network/css/styles.scss' %}" rel="stylesheet">
</head>

<body>

    <nav class="body-nav">
        <a href="#">Network</a>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="#"><strong>{{ user.username }}</strong></a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'index' %}">All Posts</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'following' %}">Following</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <main class="body-content">
        {% block body %}
        {% endblock %}
    </main>

    <script src="https://kit.fontawesome.com/694317dcf2.js" crossorigin="anonymous"></script>
    <script src="{% static 'network/js/script.js' %}"></script>
</body>

</html>